*~
#*
working/
iseconfig/
ipcore_dir/*.gise
ipcore_dir/*.log
ipcore_dir/*.ncf
ipcore_dir/*.tcl
ipcore_dir/*.asy
ipcore_dir/*.sym
ipcore_dir/*.vho
ipcore_dir/*.txt
ipcore_dir/fifo/
ipcore_dir/clk_manager/
ipcore_dir/mult35/
ipcore_dir/_xmsgs/
ipcore_dir/tmp/



